.homepage {
    padding: 20px;
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.wallpapersafari.com/6/23/ux7njA.jpg");
    /* background: greenyellow; */
    background-repeat: no-repeat;
    background-size: cover;
}

.btn{
    /* width: 200px; */
    background: steelblue;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: auto;
    /* position: absolute;
    top: 50%; */
    border-color: steelblue;
    left: calc(50% - 100px);
}

.form-login{
    margin: 300px auto;
    width: 500px;
}

input{
    width: 100%;
    margin-bottom: 10px;
}

.label-font{
    color: white;
}
.login-button{
    display: flex;
    justify-content: center;
}

.form-register{
    margin: 150px auto;
    width: 500px;
}
.register{
    float: right;
    color: white;
}